* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Lobster Two", cursive; */
}

body {
  background-color: white;
}

#head1 {
  font-size: calc(20px + 1.5vw);
  text-align: center;
  color: rgb(82, 65, 187);
  height: 10%;
}

#div1,
#div2,
#div3 {
  display: block;
  width: 90%;
  max-width: 592px;
  margin: 0.7rem auto;
  text-align: center;
  height: 75%;
  /* background-color: rgb(82, 65, 187);; */
  color: rgb(82, 65, 187);
  font-size: calc(12px + 0.6vw);
  overflow: visible;
}

img {
  width: 100%;
  max-height: 20rem;
}

h2 {
  text-align: left;
  margin-bottom: 0.4rem;
}

#nav1 li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

#nav1 li a:hover {
  text-shadow: 0.1rem 0.1rem black;
  transition: all ease 0.25s;
}

#nav1 {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: calc(12px + 1vw);
  background-color: rgb(82, 65, 187);
}
